/* Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
    background: #111;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00d4ff;
}

.nav-right {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
}

.cart {
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: block;
    position: relative;
}

.cart svg, 
.cart i {
    stroke: white;
    color: white;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
}